<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Antonio Arenas Fotografo</title>
</head>
<body>
    <header>
        <nav class="nav-links">
            <a href="../index.html">INICIO</a>
            <a href="../views/portafolio.html">PORTAFOLIO</a>
            <a href="contacto.html">CONTACTO</a>
            <a href="../views/presupuesto.html">PRESUPUESTO</a>
        </nav>
        <div class="hero">
            <img src="../assets/Logoblanco.png" alt="logo de la empresa" height="450" width="800">
            <h1> Creador de imágenes </h1>
            <p>Bienvenido a mi estudio fotográfico</p>
        </div>
    </header>

        <main>
            <section class="contenido">
                <div class="contenedor-xl">
                    <h2> Contacta conmigo</h2>
    
                    <div class="contenedor-img-txt">
                        <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d6080.6266264945!2d-3.59720642359593!3d40.35757667144928!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd4225be4b850e8d%3A0x6c3b2540cacdb9f6!2sAv.%20de%20la%20Gran%20V%C3%ADa%20del%20Sureste%2C%2042%2C%20Vallecas%2C%2028051%20Madrid!5e0!3m2!1ses!2ses!4v1733401943606!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        
    
                        <div class="cuadro-txt-mapa">
                            <p> Calle: Avenida de la gran vía del sureste, 42</p><br>
                            <p>Código postal: 28051</p><br>
                            <p> Teléfono: 626820408</p><br>
                            <p>Email: antonioarenasfotografo@gmail.com</p>
                        </div>   
                    </div>       
                </div>   
            </section>
            
        </main>
   
        <footer>
            <a href="https://www.instagram.com/antonioarenasfotografo/"> <img src="../assets/inglogo.png" alt=""></a>
            <div class="copyright">
                <p> &copy; Todos los derechos reservados</p>
            </div>
        </footer>
    </body>
    </html>