<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Antonio Arenas Fotografo</title>
</head>
<body>
    <header>
        <nav class="nav-links">
            <a href="../index.html">INICIO</a>
            <a href="./portafolio.html">PORTAFOLIO</a>
            <a href="../views/contacto.html">CONTACTO</a>
            <a href="../views/presupuesto.html">PRESUPUESTO</a>
        </nav>
        <div class="hero">
            <img src="../assets/Logoblanco.png" alt="logo de la empresa" height="450" width="800">
            <h1> Creador de imágenes </h1>
            <p>Bienvenido a mi estudio fotográfico</p>
        </div>
    </header>

         <main>
            <section class="contenido">
                <div class="contenedor">
                    <h2> SESIONES DE FOTOS</h2>
    
                    <div class="contenedor-img-txt">
                        <img src="../images/dionis.jpg" alt="fotografia de chico desnudo tumbado en el suelo con piernas elevadas, blanco y negro" width="720" height="900">
                        <img src="../images/DR10.jpg" alt="chico con jersey abierto con pecho desnudo" width="720" height="900">
                        <img src="../images/DR13.jpg" alt="chico quitandose la camiseta, la camiseta cubre su cara" width="720" height="900">
                        <img src="../images/HC07.jpg" alt="chico fumando, fotografia en estudio con fondo negro" width="720" height="900">
                        <img src="../images/Isa15.jpg" alt="chica en la calle con falda rosa y botas vaqueras platedas" width="720" height="900">
                        <img src="../images/Jess04.jpg" alt=" chica con ropa deportiva mostrando abdominales, fotografia en blancoy negro" width="720" height="900">
                        <img src="../images/Jona03-2.jpg" alt=" chico desnudo suspendido en el aire y una silla" width="720" height="900">
                        <img src="../images/Jona04BNW.jpg" alt="chico desnudo sentado leyendo, fotografia en blanco y negro" width="720" height="900">
                        <img src="../images/juan1.JPG" alt="chico de espalda en un pasillo de una casa" width="720" height="900">
                        <img src="../images/OS05.jpg" alt="chico tatuado en slip con mascara negra de conejo" width="720" height="900">
                        <img src="../images/Rob02-3.jpg" alt="chico tumbado en el suelo con los pies apoyado en la pared y en el suelo unos cascos de musica rojos" width="720" height="900">
                        <img src="../images/Santi07.jpg" alt="chico agachado con pantalon vaquero negro, fotografia de estudio" width="720" height="900">
                    </div>         
                </div>   
            </section>
        </main>
    
        <footer>
            <a href="https://www.instagram.com/antonioarenasfotografo/"> <img src="../assets/inglogo.png" alt=""></a>
            <div class="copyright">
                <p> &copy; Todos los derechos reservados</p>
            </div>
        </footer>
    </body>
    </html>