<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/estilos.css">
    <title>Antonio Arenas Fotografo</title>
</head>
<body>
    <header>
        <nav class="nav-links">
            <a href="../index.html">INICIO</a>
            <a href="../views/portafolio.html">PORTAFOLIO</a>
            <a href="../views/contacto.html">CONTACTO</a>
            <a href="presupuesto.html">PRESUPUESTO</a>
        </nav>
        <div class="hero">
            <img src="../assets/Logoblanco.png" alt="logo de la empresa" height="450" width="800">
                <h1> Creador de imágenes </h1>
                <p>Bienvenido a mi estudio fotográfico</p>
        </div>
        
    </header>

    <main>
        <section class="contenido">
            <div class="contenedor-xl">

                <div class="contenedor-img-txt">
                    <img src="../assets/estudio.jpeg" alt="estudio fotográfico" width="720" height="900">

                    <div class="cuadro-txt">
                        <h2>Contacto</h2>
                      <form class="contact-form">
                     <label for="name"> Nombre:</label>
                     <input type="text" id="name" name="name" placeholder="Tu nombre">
                     <label for="telefono"> Teléfono:</label>
                     <input type="tel" id="telefono" name="telefono" placeholder="+34">
                     <label for="email"> Correo electronico:</label>
                     <input type="email" id="email" name="email" placeholder="Tu correo electronico">
                     <label for="mensaje">Mensaje:</label>
                     <textarea name="mensaje" id="mensaje" rows="4" placeholder="escribe tu mensaje"></textarea>
                     <input type="submit" value="Enviar">
                     </form> 
                     Politica de privacidad <input type="checkbox">
                    </div>  

                </div>       
            </div>   
        </section>

    </main>

    <footer>
        <a href="https://www.instagram.com/antonioarenasfotografo/"> <img src="../assets/inglogo.png" alt=""></a>
        <div class="copyright">
            <p> &copy; Todos los derechos reservados</p>
        </div>
    </footer>
</body>
</html>